# 忽略编译生成的文件夹
bin/
obj/

# 忽略用户特定文件
*.user
*.suo
*.userprefs

# 忽略生成的NuGet包
*.nupkg

# 忽略IDE特定文件
.vs/
.vscode/

# 忽略日志文件
*.log

# 忽略临时文件
*.tmp
*.temp

# 忽略打包输出
publish/

# 忽略本地测试文件
TestResults/

# 忽略其他生成的文件
*.cache
*.pidb
*.pdb
*.ilk